.input-file{
    display: none;
}

.drop-zone {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  max-width: 100%;
  height: 10rem;
  padding: 1em;
  border: 1px dashed var(--neutral-500);
  background-color: var(--black-03);
  border-radius: 4px;
  color: var(--neutral-300);
}

.drop-zone div{
    display:flex;
    gap: 1rem;
}

.drop-zone img{
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
}

.image-upload-label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: var(--black-03);
    cursor: pointer;
    border-radius: 0.5rem;
}

.image-upload-label img{
    width: 2rem;
    margin: 0 0.5rem;
}

.image-upload-label:hover,.image-upload-label:focus{
    opacity: 0.8;
}

.change-img-label{
    border-radius: 0.3rem;
    padding: 0.3rem 0.4rem;
    cursor: pointer;
    background-color: var(--black-03);
}

.remove-img-btn{
    padding: 0.3rem 0.4rem;
    border-radius: 0.3rem;
    background-color: var(--black-03);
    border: 0;
    color: var(--neutral-300);
}