.ticket{
    position: relative;
    margin: 0 auto;
    width: 25rem;
    height: 12rem;
}

.ticket-info{
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content:space-between;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.ticket-number{
    transform: rotate(90deg);
    text-align: center;
    font-size: 2rem;
    padding:0;
    margin-right: -1.5rem;
    font-family: 'Inconsolata Regular', sans-serif;
    color: var(--neutral-500);
}

.ticket-info__main{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    height:100%;
}

.ticket-info__header{
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.ticket-info__header img{
    width: 2.5rem;
}

.ticket-info__header h3 {
    margin-top:-0.3rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.ticket-info__header p{
    font-family: 'Inconsolata Regular', sans-serif;
    color: var(--neutral-300);
}
.ticket-info__attendant{
    display: flex;
    gap: 1rem;
}

.ticket-info__attendant > div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ticket-info__attendant .ticket-info__fullname{
    font-family: 'Inconsolata Medium', sans-serif;
    font-size: 1.5rem;
}

.ticket-info__attendant .gitname-container{
    margin-top: 0.5rem;
    display:flex;
    align-items: center;
    gap: 0.2rem;
}

.ticket-info__attendant .gitname-container p{
    font-family: 'Inconsolata Regular', sans-serif;
    color: var(--neutral-300);
}

.avatar{
    width: 4rem;
    height:4rem;
    border-radius: 0.5rem;
}

.ticket-pattern{
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
}

@media screen and (width >= 40rem){
    .ticket{
        width: 36rem;
        height: 17rem;
    }
    .ticket-number{
    }
    .ticket-info{
        padding: 2rem;
    }
}

@media screen and (width >= 52rem){
    .ticket-pattern{

    }
}

