form{
    display: flex;
    flex-direction: column;
}

#drop-zone {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  max-width: 100%;
  height: 200px;
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: slategray;
  cursor: pointer;
}

.error-text{
    color: var(--orange-700);
}