@font-face {
    font-family: "Inconsolata Bold";
    src: url('./assets/fonts/static/Inconsolata-Bold.ttf');
}

@font-face {
    font-family: "Inconsolata Extra Bold";
    src: url('./assets/fonts/static/Inconsolata-ExtraBold.ttf');
}

@font-face {
    font-family: "Inconsolata Medium";
    src: url('./assets/fonts/static/Inconsolata-Medium.ttf');
}

@font-face {
    font-family: "Inconsolata Regular";
    src: url('./assets/fonts/static/Inconsolata-Regular.ttf');
}

:root {

    --neutral-0: hsl(0, 0%, 100%);
    --neutral-300: hsl(252, 6%, 83%);
    --neutral-500: hsl(245, 15%, 58%);
    --neutral-700: hsl(245, 19%, 35%);
    --neutral-900: hsl(248, 70%, 10%);

    --orange-500: hsl(7, 88%, 67%);
    --orange-700: hsl(7, 71%, 60%);

    --text-gradient: linear-gradient(hsl(7, 86%, 67%), hsl(0, 0%, 100%));
}

html {
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: 'Inconsolata Bold', sans-serif;
    background-color: var(--neutral-900);
    background-image: url("/pattern-lines.svg"), url("/pattern-circle.svg"), url("/pattern-squiggly-line-bottom-mobile-tablet.svg"), url("/pattern-squiggly-line-top.svg");
    background-repeat: no-repeat,no-repeat, no-repeat, no-repeat;
     background-position:
    center center,
    right center,
    left bottom,
    right top;
    color: var(--neutral-0);
}

#root{
    padding: 2rem;
    border-radius: 1rem;
    max-width: 60rem;
}

li{
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: var(--neutral-0);
}

h2{
    margin-bottom: 0.5rem;
}

button{
    cursor: pointer;
    font-family: 'Inconsolata Bold', sans-serif;
    font-size: 1rem;
}

.transparent-btn{
    background-color: transparent;
    border:0;
    color: var(--gray-500);
    text-align: left;
    padding: 0;
    border-radius: 0.3rem;
}

.transparent-btn:hover, .transparent-btn:focus{
    color: var(--blue-950);
}
.transparent-btn:active{
    opacity: 0.6;
}

@media (prefers-reduced-motion: no-preference) {
  a, button {
    transition: all 0.3s ease-out;
  }
}
@media screen and (width >= 52rem){
    body{
        padding: 2rem;
    }
}